@model FoodDiaryViewModel

@{
    ViewData["Title"] = "My food diary";
    double usersCaloriesCoal = 3000; @*Да се настрои, след като се създаде User's goals*@
    double calories = 0;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h2 class="text-center"><strong>@this.ViewData["Title"]</strong></h2>

<div class="container-fluid">

    <h4 class="text-center"><strong>Breakfast</strong></h4>
    <table class="table table-bordered table-sm">
        <thead>
            <tr class="col">
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Serving Size (gram)</th>
                <th class="col-md-2 text-center">Protein (gram)</th>
                <th class="col-md-2 text-center">Carbs (gram)</th>
                <th class="col-md-2 text-center">Fat (gram)</th>
                <th class="col-md-1 text-center">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Breakfast)
            {
                calories += item.TotalCalories;
                <tr class="col">
                    <td class="col-md-3 text-center">@item.Name</td>
                    <td class="col-md-2 text-center">@item.ServingSize</td>
                    <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                    <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                    <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                    <td class="col-md-1 text-center">@item.TotalCalories</td>
                </tr>
            }
        </tbody>
    </table>
    <h4 class="text-center"><strong>Lunch</strong></h4>
    <table class="table table-bordered table-sm">
        <thead>
            <tr class="col">
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Serving Size (gram)</th>
                <th class="col-md-2 text-center">Protein (gram)</th>
                <th class="col-md-2 text-center">Carbs (gram)</th>
                <th class="col-md-2 text-center">Fat (gram)</th>
                <th class="col-md-1 text-center">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lunch)
            {
                calories += item.TotalCalories;
            <tr class="col">
                <td class="col-md-3 text-center">@item.Name</td>
                <td class="col-md-2 text-center">@item.ServingSize</td>
                <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                <td class="col-md-1 text-center">@item.TotalCalories</td>
            </tr>
            }
        </tbody>
    </table>
    <h4 class="text-center"><strong>Snack</strong></h4>
    <table class="table table-bordered table-sm">
        <thead>
            <tr class="col">
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Serving Size (gram)</th>
                <th class="col-md-2 text-center">Protein (gram)</th>
                <th class="col-md-2 text-center">Carbs (gram)</th>
                <th class="col-md-2 text-center">Fat (gram)</th>
                <th class="col-md-1 text-center">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Snack)
            {
                calories += item.TotalCalories;
            <tr class="col">
                <td class="col-md-3 text-center">@item.Name</td>
                <td class="col-md-2 text-center">@item.ServingSize</td>
                <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                <td class="col-md-1 text-center">@item.TotalCalories</td>
            </tr>
            }
        </tbody>
    </table>
    <h4 class="text-center"><strong>Dinner</strong></h4>
    <table class="table table-bordered table-sm">
        <thead>
            <tr class="col">
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Serving Size (gram)</th>
                <th class="col-md-2 text-center">Protein (gram)</th>
                <th class="col-md-2 text-center">Carbs (gram)</th>
                <th class="col-md-2 text-center">Fat (gram)</th>
                <th class="col-md-1 text-center">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dinner)
            {
                calories += item.TotalCalories;
            <tr class="col">
                <td class="col-md-3 text-center">@item.Name</td>
                <td class="col-md-2 text-center">@item.ServingSize</td>
                <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                <td class="col-md-1 text-center">@item.TotalCalories</td>
            </tr>
            }
        </tbody>
    </table>
    <h5 class="text-md-right">Total calories: <strong>@calories</strong></h5>
    <h5 class="text-md-right">Calories goal: <strong>@usersCaloriesCoal</strong></h5>
    @{
        double caloriesDifference = calories - usersCaloriesCoal;
    }

    @if (caloriesDifference > 0)
    {
        <h5 class="text-md-right">You are <strong>@caloriesDifference</strong> calories over your daily goal.</h5>
    }
    @if (caloriesDifference < 0)
    {
        <h5 class="text-md-right">You are <strong>@(-caloriesDifference)</strong> calories behind your daily goal.</h5>
    }
    @if (caloriesDifference == 0)
    {
        <h5 class="text-md-right">You reached your calories goal.</h5>
    }
    <div class="text-center">
        <a asp-controller="Foods" asp-action="All" class="btn btn-primary btn-outline-light m-2">Back to foods</a>
    </div>
</div>
