@model FoodDiaryViewModel

@{
    ViewData["Title"] = "My food diary";
    double usersCaloriesCoal = 3000; @*Да се настрои, след като се създаде User's goals*@
    double calories = 0;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="container-fluid">

    <h5 class="text-center">Breakfast</h5>
    <table class="table table-bordered table-sm">
        <thead>
            <tr class="col">
                <th class="col-md-4 text-center">Name</th>
                <th class="col-md-2 text-center">Protein</th>
                <th class="col-md-2 text-center">Carbs</th>
                <th class="col-md-2 text-center">Fat</th>
                <th class="col-md-2 text-center">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Breakfast)
            {
                calories += item.TotalCalories;
                <tr class="col">
                    <td class="col-md-4 text-center">@item.Name</td>
                    <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                    <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                    <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                    <td class="col-md-2 text-center">@item.TotalCalories</td>
                </tr>
            }
        </tbody>
    </table>
    <h5 class="text-center">Lunch</h5>
    <table class="table table-bordered table-sm">
        <tbody>
            @foreach (var item in Model.Lunch)
            {
                calories += item.TotalCalories;
                <tr class="col">
                    <td class="col-md-4 text-center">@item.Name</td>
                    <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                    <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                    <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                    <td class="col-md-2 text-center">@item.TotalCalories</td>
                </tr>
            }
        </tbody>
    </table>
    <h5 class="text-center">Snack</h5>
    <table class="table table-bordered table-sm">
        <tbody>
            @foreach (var item in Model.Snack)
            {
                calories += item.TotalCalories;
                <tr class="col">
                    <td class="col-md-4 text-center">@item.Name</td>
                    <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                    <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                    <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                    <td class="col-md-2 text-center">@item.TotalCalories</td>
                </tr>
            }
        </tbody>
    </table>
    <h5 class="text-center">Dinner</h5>
    <table class="table table-bordered table-sm">
        <tbody>
            @foreach (var item in Model.Dinner)
            {
                calories += item.TotalCalories;
                <tr class="col">
                    <td class="col-md-4 text-center">@item.Name</td>
                    <td class="col-md-2 text-center">@item.ProteinIn100Grams</td>
                    <td class="col-md-2 text-center">@item.CarbohydratesIn100Grams</td>
                    <td class="col-md-2 text-center">@item.FatIn100Grams</td>
                    <td class="col-md-2 text-center">@item.TotalCalories</td>
                </tr>
            }
        </tbody>
    </table>
    <h5 class="text-md-right">Total calories: <strong>@calories</strong></h5>
    <h5 class="text-md-right">Calories goal: <strong>@usersCaloriesCoal</strong></h5>
    @{
        double caloriesDifference = usersCaloriesCoal - calories;
    }

    @if (caloriesDifference > 0)
    {
        <h5 class="text-md-right">You are <strong>@caloriesDifference</strong> calories over your daily goal.</h5>
    }
    @if (caloriesDifference < 0)
    {
        <h5 class="text-md-right">You are <strong>@(-caloriesDifference)</strong> calories behind your daily goal.</h5>
    }
    @if (caloriesDifference == 0)
    {
        <h5 class="text-md-right">You reached your calories goal.</h5>
    }

</div>
