@model MyFitnessApp.Web.ViewModels.Users.AllFollowerFolloweeViewModel

@{ 
    this.ViewData["Title"] = "Following"; 
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Profiles/MyProfile">My Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="row">
    @foreach (var followee in this.Model.FollowerFollowees)
    {
        <div class="col-xl-4 col-md-6 col-sm-9 col-9 text-center">
            <a asp-controller="Profiles" asp-action="UsersProfile" asp-route-username="@followee.Username">
                <div class="card-header col-md-10 offset-1 border border-dark mt-4 text-center">
                    <div class="media flex-wrap w-100 align-items-center">
                        <div class="col">
                            <img src="@followee.ImageUrl" class="rounded-circle text-center" width="150">
                            <div class="media-body text-center">
                                <div class="text-muted">
                                    <strong>Username:</strong> @followee.Username
                                </div>
                                <div class="text-muted">
                                    <strong>First name:</strong> @followee.FirstName
                                </div>
                                <div class="text-muted">
                                    <strong>Last name:</strong> @followee.LastName
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>