@model MyFitnessApp.Web.ViewModels.Administration.Users.ListAllUserViewModel

@{ this.ViewData["Title"] = "All Users"; }

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.Model.AllUsers)
            {
                <tr>
                    <th><a asp-area="" asp-controller="Profiles" asp-action="UsersProfile" asp-route-username="@user.Username">@user.Username</a></th>
                    <th>@user.FirstName</th>
                    <th>@user.LastName</th>
                    <th>@user.CreatedOn.ToString("d")</th>
                    <th>@user.Email</th>

                </tr>
            }
        </tbody>
    </table>
</div>