@model MyFitnessApp.Web.ViewModels.Administration.Users.ListAllUserViewModel

@{ this.ViewData["Title"] = "All users"; }

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Administration/Dashboard">Administration dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Created on</th>
                <th scope="col">E-mail</th>
                <th scope="col">Action</th>
                <th scope="col">Banned on</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.Model.AllUsers)
            {
                <tr>
                    <td><a asp-area="" asp-controller="Profiles" asp-action="UsersProfile" asp-route-username="@user.Username">@user.Username</a></td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.CreatedOn.ToString("MM/dd/yyyy HH:mm:ss")</td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.IsBanned)
                        {
                            <form method="post" asp-controller="Users" asp-action="Unban" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-success btn-sm">Unban</button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="Ban" asp-route-id="@user.Id">Ban</a>}
                    </td>
                    <td>
                        @if (user.IsBanned)
                        {
                            @user.BannedOn?.ToString("MM/dd/yyyy HH:mm:ss")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>