@model MyFitnessApp.Web.ViewModels.Forum.CategoryViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<h1 class="text-center">@Model.Name</h1>
<div class="alert alert-info">
    @Model.Description
</div>

@if (Model.Posts.Count() == 0)
{
    <h4 class="text-center">
        There are no post in this category
    </h4>
}
@if (Model.Posts.Count() > 0)
{
    @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
    {
        <div class="media-body">
            <h4 class="media-heading"><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a></h4>
            <p>@post.ShortContent</p>
            <ul class="list-inline list-unstyled text-right">
                <li class="list-inline-item">
                    <i class="fas fa-user-edit"></i> @post.AddedByUserUserName
                </li>
                <li class="list-inline-item">
                    <i class="fas fa-calendar-alt"></i> @post.CreatedOn
                </li>
                <li class="list-inline-item">
                    <i class="fas fa-comment-dots"></i> @post.CommentsCount comments
                </li>
            </ul>
        </div>
    }
}

<hr />
<div class="text-center">
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-outline-light m-2">Create post</a>
</div>
<div class="text-center">
    <a asp-controller="Forums" asp-action="Categories" class="btn btn-primary btn-outline-light m-2">Back to all categories</a>
</div>
