@using MyFitnessApp.Common
@using MyFitnessApp.Services.Data.Profile
@using MyFitnessApp.Services.Data.User
@inject IProfilesService profilesService;
@inject IUsersService usersService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="navbar-nav flex-grow-1">

                        <div class="dropdown">
                            <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
                                Home
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Terms">Terms and conditions</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CommunityGuidelines">Community guidelines</a>
                            </div>
                        </div>

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            var userId = User.GetId();
                            @if (this.usersService.IsUserBanned(userId) == false)
                            {
                                var doesUserHaveProfile = profilesService.DoesUserHaveProfile(userId);
                                <div class="dropdown">
                                    <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
                                        Profile
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (doesUserHaveProfile == false)
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="CreateProfile">Create Profile</a>
                                        }
                                        @if (doesUserHaveProfile == true)
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="MyProfile">My Profile</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Followees">Following</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Followers">Followers</a>
                                        }
                                    </div>
                                </div>

                                @if (doesUserHaveProfile == true)
                                {
                                    <div class="dropdown">
                                        <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
                                            Exercise
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="All">All exercises</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="Create">Create new exercise</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="Categories">Exercise by muscle group</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="MyExercises">My exercises</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="ExerciseDiary" asp-action="Monday">My weekly exercise diary</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
                                            Food
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="All">All foods</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="Create">Create new food</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="FoodDiary">My daily food diary</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
                                            Community
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Forums" asp-action="Categories">Forum</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Search">Find member</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Communities" asp-action="SendEmail">Invite friends</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
                                            Blog
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="All">All articles</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Categories">Article categories</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Create">Create new article</a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" /> @*Тук се подава Patial View-то за Cookies политиката*@
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>



@*<div class="dropdown">
        <button class="btn btn" type="button" id="" aria-haspopup="true" aria-expanded="false">
            Reports
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Charts</a>
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Export Data</a>
        </div>
    </div>*@