@using MyFitnessApp.Common
@using MyFitnessApp.Services.Data.Profile
@using MyFitnessApp.Services.Data.User
@inject IProfilesService profilesService;
@inject IUsersService usersService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datatables/media/css/jquery.dataTables.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-responsive" style="width: 200px;" src="~/images/logo/logo01.jpg" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="navbar-nav flex-grow-1">

                        <div class="dropdown">
                            <a asp-controller="Home" asp-action="Index" class="btn">Home</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Terms">Terms and conditions</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CommunityGuidelines">Community guidelines</a>
                            </div>
                        </div>

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            var userId = User.GetId();
                            @if (this.usersService.IsUserBanned(userId) == false)
                            {
                                var doesUserHaveProfile = profilesService.DoesUserHaveProfile(userId);

                                @if (doesUserHaveProfile == false)
                                {
                                    <div class="dropdown">
                                        <a asp-controller="Profiles" asp-action="CreateProfile" class="btn">Profile</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="CreateProfile">Create Profile</a>
                                        </div>
                                    </div>
                                }
                                @if (doesUserHaveProfile == true)
                                {
                                    <div class="dropdown">
                                        <a asp-controller="Profiles" asp-action="MyProfile" class="btn">Profile</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="MyProfile">My Profile</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Followees">Following</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Followers">Followers</a>
                                        </div>
                                    </div>
                                }

                                @if (doesUserHaveProfile == true)
                                {
                                    <div class="dropdown">
                                        <a asp-controller="Exercises" asp-action="All" class="btn">Workout</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="All">All exercises</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="SearchExercise">Search for an exercise</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="Create">Create new exercise</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Exercises" asp-action="Categories">Exercises by muscle group</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="ExerciseDiary" asp-action="Monday">My exercise diary</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a asp-controller="Foods" asp-action="All" class="btn">Nutrition</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="All">All foods</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="SearchFood">Search for a food</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="Create">Create new food</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Foods" asp-action="FoodDiary">My food diary</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a asp-controller="Users" asp-action="All" class="btn">Community</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Forums" asp-action="Categories">Forum</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="All">All users</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="SearchUser">Search for a user</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Communities" asp-action="SendEmail">Invite friends</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a asp-controller="Articles" asp-action="All" class="btn">Blog</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="All">All articles</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Search" asp-action="SearchArticle">Search for an article</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Categories">Article categories</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Create">Create new article</a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" /> 
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

 
    <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" style="background-color: #e8ecef">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-center mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="img-responsive" style="width: 200px;" src="~/images/logo/logo05.jpg" alt="logo">
                    </a>
                </h6>
                <p>
                    Losing weight isn't easy - we know. But with MyFitnessApp, you'll get the tools you need to successfully take weight off - and keep it off.
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Special thanks to</h6>
                <p>
                    <a href="https://www.myfitnesspal.com/" target="_blank">MyFitnessPal</a>
                </p>
                <p>
                    <a href="https://www.muscleandstrength.com/" target="_blank">MuscleStrength</a>
                </p>
                <p>
                    <a href="https://www.bodybuilding.com/" target="_blank">BodyBuilding</a>
                </p>
                <p>
                    <a href="https://nikolay.it/">Nikolay Kostov</a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a href="https://github.com/GeorgiGradev/MyFitnessApp" target="_blank">Open Source System</a>
                </p>
                <p>
                    <a href="https://www.youtube.com/static?gl=GB&template=terms" target="_blank">YouTube Terms of Service</a>
                </p>
                <p>
                    <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">Google Privacy Policy</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Dimitrovgrad, Bulgaria
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@myfitness-app.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 000 000 000 000
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 000 000 000 000
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->
        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">
                    &copy;  @DateTime.Now.Year -  @GlobalConstants.SystemName
                </p>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
    <!-- Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
