
@model AllExercisesViewModel


<div class="row">
    @foreach (var exercise in Model.Exercises)
    {
        <div class="media col-md-4">
            <a asp-controller="Exercises" asp-action="Add" asp-route-id="@exercise.Id">
                <img src="@exercise.ImageUrl" width="250" class="mr-3 img-responsive">
            </a>
            <div class="media-body">
                <h5 class="mt-0"><a asp-controller="Exercises" asp-action="Add" asp-route-id="@exercise.Id">@exercise.Name</a></h5>
                @exercise.CategoryName
            </div>
        </div>
    }
</div>