@using MyFitnessApp.Services.Data.User
@model ProfileViewModel

@inject IUsersService usersService

@{
    var imagePath = Model.ImageUrl;
    var userId = this.User.GetId();
    var isUserFollowee = this.usersService.IsFollowee(userId, Model.UserId);
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@this.TempData["Message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="main-body">
        <div class="row gutters-md">
            <div class="col-5 md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@imagePath" class="rounded-circle embed-responsive-item" width="150">
                            <div class="mt-3">
                                <h4>@Model.Username</h4>
                                @if (userId == Model.UserId)
                                {
                                    <div class="container-fluid">
                                        <div class="row mt-2">
                                            <div class="col col-md-6 mt-2">
                                                <a asp-controller="Profiles" asp-action="Edit" class="btn btn-outline-info">Edit profile</a>
                                            </div>
                                            <div class="col col-md-6 mt-2">
                                                <a asp-controller="Profiles" asp-action="EditProfileImage" class="btn btn-outline-info">Edit image</a>
                                            </div>

                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-6 mt-2">
                                                <a asp-controller="ExerciseDiary" asp-action="Monday" class="btn btn-outline-info">My exercise diary</a>
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <a asp-controller="Foods" asp-action="FoodDiary" class="btn btn-outline-info">My food diary</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (userId != Model.UserId)
                                {
                                    <div class="container-fluid">
                                        <div class="row mt-2">
                                            <div class="col col-md-6 mt-2">
                                                @if (isUserFollowee)
                                                {
                                                    <form method="post" id="followForm" asp-controller="Users" asp-action="Unfollow" asp-route-username="@Model.Username">
                                                        <button class="btn btn-danger btn"> Unfollow</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form method="post" id="followForm" asp-controller="Users" asp-action="Follow" asp-route-username="@Model.Username">
                                                        <button class="btn btn-success btn"> Follow</button>
                                                    </form>
                                                }
                                            </div>
                                            <div class="col col-md-6 mt-2">
                                                <a asp-controller="Communities" asp-action="SendEmail" class="btn btn-outline-primary">Message</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">About me</i></h6>
                        <small>@Model.AboutMe</small>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Why I want to get in shape</i></h6>
                        <small>@Model.WhyGetInShape</small>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">My inspirations</i></h6>
                        <small>@Model.MyInspirations</small>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Full name</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.FirstName @Model.LastName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">E-mail</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.Gender
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Activity level</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.ActivityLevel
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Current weight</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.CurrentWeightInKg.ToString("f2") kg
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Goal weight</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.GoalWeightInKg.ToString("f2") kg
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Height</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.HeightInCm.ToString("f2") cm
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Neck</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.NeckInCm.ToString("f2") cm
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Waist</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.WaistInCm.ToString("f2") cm
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Hips</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.HipsInCm.ToString("f2") cm
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Daily protein intake goal</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.DailyProteinIntakeGoal.ToString("f2") gr
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Daily carbs intake goal</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.DailyCarbohydratesIntakeGoal.ToString("f2") gr
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Daily fat intake goal</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.DailyFatIntakeGoal.ToString("f2") gr
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Today's calories goal'</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.DailyCaloriesIntakeGoal.ToString("f2") kcal
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Today's food diary calories</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                @Model.FoodDiaryCalories.ToString("f2") kcal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>