@using MyFitnessApp.Data.Models
@model EditProfileInputModel

@{
    ViewData["Title"] = "Edit profile";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Profiles/MyProfile">My profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">@this.ViewBag.Title</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container">
    <div class="row text-sm">
        <div class="col-md">
            @*Прави формата responsive при различни размери на екрана*@
            <h2 class="heading-margin text-center">@this.ViewData["Title"]</h2>
            <form method="post" enctype="multipart/form-data">
                @*добавяме enctype, за да може формата да пази файлове*@

                <div class="row">

                    <div class="col-md">


                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="Username"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="Username" class="form-control" placeholder="Username here...">
                                <span asp-validation-for="Username" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="FirstName"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="FirstName" class="form-control" placeholder="First name here...">
                                <span asp-validation-for="FirstName" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="LastName"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="LastName" class="form-control" placeholder="Last name here...">
                                <span asp-validation-for="LastName" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="Email"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="Email" class="form-control" placeholder="E-mail here...">
                                <span asp-validation-for="Email" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="Gender" class="text-center"></label>
                            </div>
                            <div class="col-md">
                                <select asp-for="Gender" class="form-control">
                                    @foreach (int choice in Enum.GetValues(typeof(Gender)))
                                    {
                                        <option value="@choice">@Enum.GetName(typeof(Gender), choice)</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="ActivityLevel"></label>
                            </div>
                            <div class="col-md">
                                <select asp-for="ActivityLevel" class="form-control">
                                    @foreach (int activity in Enum.GetValues(typeof(ActivityLevel)))
                                    {
                                        <option value="@activity">@Enum.GetName(typeof(ActivityLevel), activity)</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="CurrentWeightInKg"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="CurrentWeightInKg" class="form-control" placeholder="Current weight here...">
                                <span asp-validation-for="CurrentWeightInKg" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="GoalWeightInKg"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="GoalWeightInKg" class="form-control" placeholder="Goal weight here...">
                                <span asp-validation-for="GoalWeightInKg" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="HeightInCm"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="HeightInCm" class="form-control" placeholder="Height here...">
                                <span asp-validation-for="HeightInCm" class="small text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="NeckInCm"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="NeckInCm" class="form-control" placeholder="Neck measurement here...">
                                <span asp-validation-for="NeckInCm" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="WaistInCm"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="WaistInCm" class="form-control" placeholder="Waist measurement here...">
                                <span asp-validation-for="WaistInCm" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="HipsInCm"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="HipsInCm" class="form-control" placeholder="Hips measurement here...">
                                <span asp-validation-for="HipsInCm" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="DailyProteinIntakeGoal"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="DailyProteinIntakeGoal" class="form-control" placeholder="Protein intake goal here...">
                                <span asp-validation-for="DailyProteinIntakeGoal" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="DailyCarbohydratesIntakeGoal"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="DailyCarbohydratesIntakeGoal" class="form-control" placeholder="Carbs intake goal here...">
                                <span asp-validation-for="DailyCarbohydratesIntakeGoal" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="DailyFatIntakeGoal"></label>
                            </div>
                            <div class="col-md">
                                <input asp-for="DailyFatIntakeGoal" class="form-control" placeholder="Carbs intake goal here...">
                                <span asp-validation-for="DailyFatIntakeGoal" class="small text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="AboutMe"></label>
                            </div>
                            <div class="col-md">
                                <textarea asp-for="AboutMe" class="form-control" rows="8" placeholder="Enter text here..."></textarea>
                                <span asp-validation-for="AboutMe" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="WhyGetInShape"></label>
                            </div>
                            <div class="col-md">
                                <textarea asp-for="WhyGetInShape" class="form-control" rows="8" placeholder="Enter text here..."></textarea>
                                <span asp-validation-for="WhyGetInShape" class="small text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row text-md-right">
                            <div class="col-md">
                                <label asp-for="MyInspirations"></label>
                            </div>
                            <div class="col-md">
                                <textarea asp-for="MyInspirations" class="form-control" rows="8" placeholder="Enter text here..."></textarea>
                                <span asp-validation-for="MyInspirations" class="small text-danger"></span>
                            </div>

                        </div>

                    </div>
                </div>

                <input class="btn btn-primary float-right mt-3" type="submit" value="Save changes" />
            </form>
        </div>
    </div>
</div>