@model AllDiaryExercisesViewModel


<div class="row">
    @if (!Model.Exercises.Any())
    {
        <div class="container">
            <div class="col-md-10 text-center">
                <h4 class="text-center">No exercises found for the given day of week</h4>
            </div>
        </div>
    }
    @if (Model.Exercises.Any())
    {
        @foreach (var exercise in Model.Exercises)
        {
            <div class="card border-dark ml-3 mt-3 alert-secondary" style="width: 18rem;">
                <img class="card-img-top" src="@exercise.ImageUrl">
                <div class="card-body">
                    <h5 class="card-title">@exercise.Name</h5>
                    <p class="card-text">@exercise.Category</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Repetitions: @exercise.Repetitions</li>
                    <li class="list-group-item">Sets: @exercise.Sets</li>
                    <li class="list-group-item">Weight: @exercise.Weight kg</li>
                </ul>
                <div class="card-body">
                    <div class="text-center">
                        <a asp-controller="Exercises" asp-action="Add" asp-route-id="@exercise.ExerciseId" class="btn btn-outline-primary mt-3">Show/Edit</a>
                        <a asp-controller="Exercises" asp-action="All" class="btn btn-outline-primary mt-3">Back to all</a>
                    </div>
                    <div class="text-center">
                        <form method="post" asp-controller="Exercises" asp-action="Remove" asp-route-id="@exercise.ExerciseId" asp-route-day="@this.ViewData["Title"]">
                            <button class="btn mt-3 btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</div>