@model AllDiaryExercisesViewModel


<div class="row">
    @if (!Model.Exercises.Any())
    {
        <div class="container">
            <div class="col-md-10 text-center">
                <h2 class="text-center">No exercises found for the given day of week</h2>
            </div>
        </div>
    }
    @if (Model.Exercises.Any())
    {
        @foreach (var exercise in Model.Exercises)
        {

            <div class="card mt-3 alert-info" style="width: 18rem;">
                <img class="card-img-top" src="@exercise.ImageUrl">
                <div class="card-body">
                    <h5 class="card-title">@exercise.Name</h5>
                    <p class="card-text">@exercise.Category</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Repetitions: @exercise.Repetitions</li>
                    <li class="list-group-item">Sets: @exercise.Sets</li>
                    <li class="list-group-item">Weight: @exercise.Weight</li>
                </ul>
                <div class="card-body">
                    <div class="text-center">
                        <a asp-controller="Exercises" asp-action="Add" asp-route-id="@exercise.ExerciseId" class="btn btn-primary mt-3">Show/Edit</a>
                        <a asp-controller="Exercises" asp-action="All" class="btn btn-primary mt-3">Back to all</a>
                    </div>
                    <div class="text-center">
                        <form method="post" asp-controller="Exercises" asp-action="Remove" id="deleteForm" asp-route-id="@exercise.ExerciseId"></form>
                        <button class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteModal">Delete</button>

                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to remove "@exercise.Name" from your diary ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@*Изтриването + въпрос дали да се трие (Workshop MoiteRecepti / View - ById.cshtml )*@

