@model PostViewModel


@{
    var userId = User.GetId();
}


<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <div>
                                <h4>@Model.Title</h4>
                            </div>
                            <div class="text-muted small">
                                <strong>Post by:</strong> @Model.AddedByUserUserName
                            </div>
                            <div class="text-muted small">
                                <strong>Category:</strong> @Model.CategoryName
                            </div>
                            <div class="text-muted small">
                                <strong>Created on:</strong> @Model.CreatedOn.ToString("f")
                            </div>
                            <div class="text-muted small">
                                <strong>Member since:</strong> @Model.AddedByUserCreatedOn.ToString("dddd, dd MMMM yyyy")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <article>
                        @Model.Content
                    </article>
                </div>
                @if (userId == Model.AddedByUserId || User.IsInRole("Administrator"))
                {
                    <div class="text-right m-1">
                        <form method="post" asp-controller="Posts" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id"></form>
                        <button class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteModal">Delete post</button>
                    </div>
                }
                <hr />
                @foreach (var reply in Model.Comments)
                {
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/3.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <div class="text-muted small">
                                <strong>Comment by:</strong> @reply.AddedByUserUserName
                            </div>
                            <div class="text-muted small">
                                <strong>Created on:</strong> @reply.CreatedOn.ToString("f")
                            </div>
                            <div class="text-muted small">
                                <strong>Member since:</strong> @reply.AddedByUserCreatedOn.ToString("dddd, dd MMMM yyyy")
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <article>
                            @reply.Content
                        </article>
                    </div>
                    @if (userId == reply.AddedByUserId || User.IsInRole("Administrator"))
                    {
                        <div class="text-right m-1">
                            <form method="post" asp-controller="Comments" asp-action="Delete" id="deleteForm1" asp-route-id="@reply.Id"></form>
                            <button class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteModal1">Delete comment</button>
                        </div>

                        <div class="modal" tabindex="-1" role="dialog" id="deleteModal1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Are you sure you want to remove your comment"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" onclick="deleteForm1.submit()">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <hr />
                }
                <div class="card-footer">
                    <div class="text-center">
                        <a asp-controller="Comments" asp-action="Reply" asp-route-id="@Model.Id" class="btn btn-primary btn-outline-light m-1">Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="text-center">
    <a asp-controller="Forums" asp-action="Categories" class="btn btn-primary mt-3">Back to forum categories</a>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to remove "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


