@model MyFitnessApp.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="row d-flex justify-content-center">

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="text-muted mb-4">Users</h3>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="text-md-center mt-3">
                        <h5 class="font-weight-bold">
                            <a asp-controller="Users" asp-action="All">
                                Total registered users - @Model.UsersCount
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="text-muted mb-4">Exercises</h3>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="text-md-center mt-3">
                        <h5 class="font-weight-bold">
                            <a asp-controller="Exercises" asp-action="Index">
                                Total exercises - @Model.ExercisesCount
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="text-muted mb-4">Blog Articles</h3>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="text-md-center mt-3">
                        <h5 class="font-weight-bold">
                            <a asp-controller="Articles" asp-action="Index">
                                Total articles - @Model.ArticlesCount
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row d-flex justify-content-center">

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="text-muted mb-4">Forum Posts</h3>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="text-md-center mt-3">
                        <h5 class="font-weight-bold">
                            <a asp-controller="Posts" asp-action="Index">
                                Total forum posts - @Model.PostsCount
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="text-muted mb-4">Foods</h3>
                <hr />
                <div class="d-flex justify-content-center">
                    <div class="text-md-center mt-3">
                        <h5 class="font-weight-bold">
                            <a asp-controller="Foods" asp-action="Index">
                                Total foods - @Model.FoodsCount
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>