
@model AddExerciseInputModel

@{
    this.ViewData["Title"] = "Exercise";
}

<partial name="_AddPartial" model="@Model" />

<div class="container">

    <h2 class="item-title">@Model.Name</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="img" ">
                <img src="@Model.ImageUrl" class="img-fluid" alt="Responsive image" />
            </p>
        </div>
        <div class="col-md-6">
            <p class="item-description">
                Muscle group: @Model.CategoryName
            </p>
            <p class="item-description">
                Equipment: @Model.EquipmentName
            </p>
            <p class="item-description">
                Difficulty: @Model.DifficultyName
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <p class="item-description">
                Description: @Model.Description
            </p>
        </div>
    </div>
</div>







