@using MyFitnessApp.Data.Models
@model AddExerciseInputModel

@{
    this.ViewData["Title"] = "Exercise";
}
<div class="container">
    <div class="container">
        <div class="row">
            <form method="post">

                <div class="form-group">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" class="form-control" placeholder="enter weight here...">
                    <span asp-validation-for="Weight" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Repetitions"></label>
                    <input asp-for="Repetitions" class="form-control" placeholder="enter repetitions here...">
                    <span asp-validation-for="Repetitions" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sets"></label>
                    <input asp-for="Sets" class="form-control" placeholder="enter sets here...">
                    <span asp-validation-for="Sets" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="WeekDay"></label>
                    <select asp-for="WeekDay" class="form-control">
                        @foreach (int weekday in Enum.GetValues(typeof(WeekDay)))
                        {
                            <option value="@weekday">@Enum.GetName(typeof(WeekDay), weekday)</option>
                        }
                    </select>
                </div>
                <input class="btn btn-primary float-md-left" type="submit" value="Add to my exercises" />
            </form>
        </div>
    </div>

    <div class="container">
        <h2 class="item-title">@Model.Name</h2>
        <div class="row">
            <div class="col-md-6">
                <p class="img" ">
                    <img src="@Model.ImageUrl" class="img-fluid" alt="Responsive image" />
                </p>
            </div>
            <div class="col-md-6">
                <p class="item-description">
                    Muscle group: @Model.CategoryName
                </p>
                <p class="item-description">
                    Equipment: @Model.EquipmentName
                </p>
                <p class="item-description">
                    Difficulty: @Model.DifficultyName
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <p class="item-description">
                    Description: @Model.Description
                </p>
            </div>
        </div>

        @*<input class="btn btn-primary float-md-right" type="" value="Back to all exercises" />*@
    </div>
</div>


