@*View, което визуализира All exercises*@


@model AllExercisesViewModel

@{
    this.ViewData["Title"] = "All exercises / Page " + Model.PageNumber;
}


<div>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="row">
        @foreach (var exercise in Model.Exercises)
        {
            <div class="media col-md-4"> @*Да заемат 3/12 от екрана*@
                <a asp-action="Add" asp-route-id="@exercise.Id">    @*Затвавяме снимката в tag за линк, за да се отвяря упражнението като се кликне върху снимката*@
                    <img src="@exercise.ImageUrl" width="250" class="mr-3 img-responsive">    @*В "width" се уточнява размера на снимката, "ing-reponsive я прави reponsive"*@
                </a>
                <div class="media-body">
                    <h5 class="mt-0"><a asp-action="Add" asp-route-id="@exercise.Id">@exercise.Name</a></h5>     @*Добавяме tag за линк, за да се отваря упражнението*@
                    @exercise.CategoryName
                </div>
            </div>
        }
    </div>
</div>

<hr /> @*Разделител между горния и долния елемент*@

<partial name="_PagingPartial" model="@Model" />  @*Тук поставяме _PartialView-то за Paging*@
