@*View, което визуализира All exercises*@


@model AllExercisesViewModel

@{
    this.ViewData["Title"] = "All exercises / Page " + Model.PageNumber;
}

<div>
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="row">
        @foreach (var exercise in Model.Exercises)
        {
        <div class="col-md-4 mt-3">
            <div class="card text-center alert-info" style="width: 18rem;">
                <a asp-action="Add" asp-route-id="@exercise.Id">
                    <img src="@exercise.ImageUrl" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"> <a asp-action="Add" asp-route-id="@exercise.Id">@exercise.Name</a></h5>
                    Target Muscle Group:
                    <a asp-controller="ExerciseCategories" asp-action="@exercise.CategoryName">
                        <p class="card-text"> @exercise.CategoryName</p>
                    </a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

 

<hr /> @*Разделител между горния и долния елемент*@

<partial name="_PagingPartial" model="@Model" />  @*Тук поставяме _PartialView-то за Paging*@
