@model MyFitnessApp.Web.ViewModels.Search.AllUsersViewModel

@{
    this.ViewData["Title"] = $"Found users";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Users/All">All  users</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="row">
    @foreach (var user in this.Model.Users)
    {
        <div class="col-xl-4 col-md-4 col-sm-6 col-12 text-center pt-2">
            <a asp-controller="Profiles" asp-action="UsersProfile" asp-route-username="@user.UserName">
                <div class="card-header border border-dark text-center">
                    <div class="media flex-wrap w-auto align-items-center">
                        <div class="col">
                            <div class="media-body text-center">

                                <div class="text-dark">
                                    <h4>@user.UserName</h4>
                                </div>
                                <div class="text-center rounded mx-auto d-block">
                                    <img src="@user.UserProfileImage" class="rounded-circle" width="150">
                                </div>
                                <div class="text-muted">
                                    @user.FirstName @user.LastName
                                </div>
                                <div class="text-muted">
                                    @user.Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<hr />

<div class="text-center">
    <a asp-controller="Search" asp-action="SearchUser" class="btn btn-outline-secondary m-2">Search again</a>
</div>
