@model MyFitnessApp.Web.ViewModels.Search.AllUsersViewModel

@{
    this.ViewData["Title"] = $"Found users";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Profiles/MyProfile">My profile</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="container-fluid">
    @foreach (var user in Model.Users)
    {
        <a asp-controller="Profiles" asp-action="UsersProfile" asp-route-username="@user.UserName">
            <div class="card-header col-md-8 offset-2 border border-dark mt-2">
                <div class="media flex-wrap w-100 align-items-center">
                    <img src="@user.UserProfileImage" class="class=" rounded-circle" width="150" alt="">
                    <div class="media-body ml-3">
                        <div class="text-muted small">
                            <strong>Username:</strong> @user.UserName
                        </div>
                        <div class="text-muted small">
                            <strong>First name:</strong> @user.FirstName
                        </div>
                        <div class="text-muted small">
                            <strong>Last name:</strong> @user.LastName
                        </div>
                        <div class="text-muted small">
                            <strong>E-mail:</strong> @user.Email
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
    <div class="text-center">
        <a asp-controller="Search" asp-action="SearchUser" class="btn btn-primary btn-outline-light m-2">Search again</a>
    </div>
</div>
